body {
    background-image: url("images/index/u0.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    background-position: center center;
  }
  .logo {
    display: inline-block;
    margin-right: auto;
    margin-left: 20px;
    vertical-align: middle;
    width: 40px; /* Ширина логотипа */
    height: 40px; /* Высота логотипа */
    background-image: url('images/index/logo.jpg'); /* Путь к изображению логотипа */
    background-size: cover; /* Заполнение контейнера размером логотипа */
    background-repeat: no-repeat; /* Отключение повтора изображения */
    background-position: top left;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  .song-image {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
  }
  
  .song-title {
    margin: 0;
    font-size: 1.2rem;
    color: white;
  }
  
  .song-artist {
    margin: 0;
    font-size: 1rem;
    color: #ffffff;
  }
  nav {
    background-color: #513d6c;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    position: relative; /* Добавлено для корректного позиционирования подменю */
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Стили для второго уровня меню */
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    top: 100%; /* Поднять подменю на уровень ниже родительского пункта меню */
    left: 0;
    z-index: 1;
}

nav ul li:hover .submenu {
    display: block;
}

.submenu li {
    display: block;
    margin-bottom: 5px;
}
  .container {
    max-width: 5000px;
    margin: 0 auto;
    padding: 0 20px;
  }
  

  
  .login-button {
    position: absolute; /* абсолютное позиционирование для позиционирования кнопки относительно окна браузера */
    top: 0; /* смещение от верхнего края окна браузера */
    right: 0; /* смещение от правого края окна браузера */
    padding: 0.5rem 1rem; /* настройка внешних отступов */
    background-color: #725FC0; /* фон кнопки */
    color: #fff; /* цвет текста */
    border: none; /* убираем границу */
    border-radius: 0.25rem; /* скругляем углы */
    cursor: pointer; /* указываем, что это кнопка */
  }
  
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  

  .footer {
    background-color: #28094f;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #ccc;
  }
  
  footer a:hover {
    color: #ccc;
  }
  .site-info {
    background-color: #725FC0;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    margin-top: 10px;
  }
  
  .site-info p {
    margin: 0;
    line-height: 1.5;
  }